<!-- app/views/devise/sessions/new.html.erb -->
<div style="background-color: #E6E6FA; margin-top: 0; min-height: 500px;" class="main">
	<div style="background-color: #E6E6FA; min-height: 400px;">
	<h1 style="background-color: #E6E6FA;">ログイン</h2>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス' %><br><br>
		  <%= f.password_field :password, autocomplete: 'current-password', placeholder: 'パスワード' %><br><br>
		  <%= f.submit 'ログイン', class: 'btn btn-primary' %>
		<% end %>
	</div>

	<div style="background-color: #E6E6FA; margin: 30px 400px;">
	<!-- %= render 'devise/shared/links' % -->
	</div>
</div>
