.posts-show-item {
  max-width: 1000px;
  margin: 0 auto;

  padding: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px #c1ced7;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.posts-show-item p {
  font-size: 1.2rem;
}

.post-time {
  color: #8899a6;
}

